body{
    background-color: #565656;
      color: black;
    text-align: center;
    margin:10%;
    padding: 15%;
    border: 5px soild blue;
    font-size: 30px;
}
#title{
    text-align: center;
    color: black;
    font-family:Gill Sans;
    font-size: 80px;
    text-shadow: 5px 10px 10px white;
}
img{
     display: inline-block;
     width: 100%;
     height: 600%;
}
#caption{
    text-align:center;
    font-size:17px;
    color:chocolate;
    font-family: verdana;
    font-style:italic;
}
#tribute-data{
    text-align:center;
    color:black;
    font-style:normal;
    font-size:20px;
    box-shadow:15px 15px 15px chartreuse;
    margin:11px;
    margin-top:50px;
    padding:10px 10px;
}
h1.title-kuvempu{
    text-align:center;
    font-size: 50px;
    font-family: cambria;
    font-style: oblique;
    text-shadow:3px 5px 6px peachpuff;
    color:black;
}
#tribute-link{
    text-decoration: none;
    color:black;
}
#elife{
    font-size:40px;
    text-align: left;
}
#kar{
    font-size:20px;
    color:darkred;
    text-align:left;
}